

@font-face {
font-family: "WhitneyHTF-Medium";
src: url("https://collector-ledgers.netlify.com/fonts/WhitneyHTF-Medium.otf") format("opentype")
}

@font-face {
font-family: "WhitneyHTF-SemiBold";
src: url("https://collector-ledgers.netlify.com/fonts/WhitneyHTF-SemiBold.otf") format("opentype")
}

@font-face {
font-family: "WhitneyHTF-Book";
src: url("https://collector-ledgers.netlify.com/fonts/WhitneyHTF-Book") format("opentype")
}


/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}



/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  color:#1F3F9A;
  text-decoration: none;
}



/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}



/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}
/* Whitney fontface
   ========================================================================== */



   

   

/* Customer CSS starts here
   ========================================================================== */
    body{
        
        color:#000;
        font-size: 15px;
        line-height: 19px; /* 1 */
        /* font-family: Helvetica; */
        font-family: WhitneyHTF-Medium,'Source Sans Pro', sans-serif;
         text-align: left;
         background:#fff;
    }
   
    .wrapper{
       max-width:414px;
       box-sizing: border-box;
       
       margin:auto;
       background:#F9F7FF;
       
   }

   .text-align-center{
        text-align: center;;
    }
    
    .text-align-right{
        text-align: right;;
    }
    .v-align-bottom{
        vertical-align: bottom;
    }
    
 
   .card{
      background:#fff;
      border-top: 1px solid rgba(3, 0, 51, 0.04);
      border-bottom: 1px solid rgba(3, 0, 51, 0.04);

    }
    
    .container:last-child{
     margin-bottom: 0px;;
   }

   .header{
     padding:16px ;
     background:#1F3F9A;
     color:#fff;
     text-align: center;
   }
    
    table{
        width: 100%;
        border: 0;
    }
    
    th,td{
       padding-top:12px;
     padding-bottom:12px;
      font-weight: normal;
      font-weight: normal;
      vertical-align: top;
      padding-right:16px;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(3, 0, 51, 0.04);
    }
    td:first-child{
      padding-left:16px;
    }

   .reverse td{
     background: #F9F7FF;
     border:none;
   }
   
   .semibold{
    font-family:"WhitneyHTF-SemiBold";
   }
   .title{
       font-size: 21px;
       line-height: 25px; /* 1 */
   }
   .period{
    display: block;
    margin-top: 5px;;
   }
   .balance{
     padding:20px 10px ;
     border-bottom: 1px solid rgba(3, 0, 51, 0.04);
   }
   .balanceAmount{
     font-size: 21px;
    line-height: 25px; 
   }
   
   date{
     display: block;
     color:rgba(3, 0, 51, 0.50)
   }
   td small{
       display: block;;
   }
   .income{
     color:#3BB200
   }
   .grey{ 
        color:rgba(3, 0, 51, 0.50);
   }
   .weak{ 
        color:rgba(3, 0, 51, 0.40);
   }
   
   .brandingFooter,    
  .generator{
    text-align: center;
    
    padding:16px;
  }
  
   .brandingFooter{
      padding-bottom: 20px;
      
   }

