/* MEDIA QUERIES */
@media all and (max-width:580px) {

    .ditchMobile{
      display:none;
    }

      .wrapper {
        /* width: 320px !important; */
        width: 100% !important;
        margin: 0px !important;
        padding:15px;
        box-sizing: border-box;
      }

      .summaryLeftCol,
      .summaryRightCol,
      .paymentLeftCol,
      .paymentRightCol{
          width:100%;
          display:block;
          box-sizing: border-box;
          text-align:left;
      }
      .invoiceType{
         margin-bottom:15px;
      }

      .summaryLeftCol.for{
        margin-top:15px;
      }
      .summaryLeftCol div{
        padding-right:0;
       
      }

      .paymentLeftCol,
      .paymentRightCol{
        margin-bottom:30px;
      }

      .items{
        margin-bottom:30px
      }
      .footer{
        margin-top:30px;
      }

      .footer td{
        width:100%;
          display:block;
          box-sizing: border-box;
          text-align:center;
          box-sizing: border-box;
      }
      .branding{
        padding-top:30px;
      }
      th.desc,
      td.desc{
        width:40%;
        box-sizing: border-box;
      }
      th.qty,
      td.qty,
      th,rate,
      td.rate{
        width:15%;
        box-sizing: border-box;
      }
      th.amount,
      td.amount{
        width:30%;
        box-sizing: border-box;
      }
      td.breakup{
        width:70%;
        box-sizing: border-box;
      }
}  